@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	background-color: rgb(50,50,50);
	text-align: center;
	/*background-image: url("background.jpg");*/
}

h1 {
	font-family: Open Sans;
	color: orange;
	text-align: center;
	font-size: 40px;
}

#board {
	background-color: blue;
	display: inline-block;
}

.col {
	width: 70px;
	height: 70px;
	display: inline-block;
	background-color: white;
	border-radius: 50%;
	margin: 5px;
}

.col.empty {
	cursor: pointer;
}

.next-red {
	background-color: rgb(255, 100, 100);
}

.red {
	background-color: red;
}

.next-yellow {
	background-color: rgb(200, 200, 0);
}

.yellow {
	background-color: yellow;
}